<header class="main-header">
    <nav class="main-header-nav">
        <ul class="main-header-list">
            <li class="main-header-item"><a class="<%= path === '/' ? 'active' : '' %> " href="/">Shop</a></li>
            <li><a href="/">Products</a></li>
            <li><a href="/">Cart</a></li>
            <li><a href="/">Add Product</a></li>
            <li><a href="/">Admin Products</a></li>
        </ul>
    </nav>
</header>