.card {
    background-color:rgb(255, 234, 117);
}

.card.product-item {



}

.card__image {
 width: 100%;
 object-fit: contain;
}

h2 {  /*hind*/
    font-size: 60px;
    font-weight: 600;
    color: rgb(249, 0, 0)
}

p {  /*description*/
    font-size: 20px;
    font-weight: 300;
    color: rgb(0, 0, 0)
}

.grid {
    display: flex;
    max-width: 90%;
    margin: 50px;
}